<div class="copyright_wrap scheme_dark">
	<div class="copyright_wrap_inner">
		<div class="content_wrap">
			<div class="copyright_text">Fruto del sol  © <%= Time.current.year %>. <%= Spree.t(:all_rights_reserved) %>.</div>
		</div>
	</div>
</div>