<%# <% cache spree_nav_cache_key('footer') do %> 
  <footer id="footer" class="site_footer_wrap scheme_dark footer-spree">
		<div class="logo_footer_wrap scheme_dark">
			<div class="logo_footer_wrap_inner">
				<%= link_to image_tag("logos/logo33.png"), root_path %>
			</div>
		</div>
		<div class="socials_footer_wrap socials_wrap scheme_dark">
			<div class="socials_footer_wrap_inner">
				<span class="social_item"><a href="https://www.instagram.com/frutodls/" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a></span>
				<span class="social_item"><a href="https://www.facebook.com/MezcalFrutodelSol" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a></span>
			</div>
		</div>
		<div class="menu_footer_wrap scheme_dark">
			<div class="menu_footer_wrap_inner">
				<nav class="menu_footer_nav_area">
					<ul id="menu_footer" class="menu_footer_nav">
					<% spree_navigation_data.each do |root| %>
    					<li class="menu-item wer menu-item">
        					<%= link_to root[:title], root[:url], class: "" %>
      					</li>
    				<% end %>
					</ul>
				</nav>
			</div>
		</div>
    <%= render 'spree/shared/copyright' %>
	</footer>
<%# <% end %>
