<% if spree_navigation_data.any? %>
  <ul class="nav h-100 main-nav-bar menu_main_nav ">
    <% spree_navigation_data.each do |root| %>
      <li class="navbar menu-item wer menu-item">
        <%= link_to root[:title], root[:url], class: "p-2" %>
      </li>
    <% end %>
  </ul>
<% end %>
